@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 0 1rem;
}

.navigation a:hover,
.navigation a.active{
    text-decoration: underline;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#text{
    position: absolute;
    font-size: 5em;
    /* font-family: 'Varela Round', sans-serif; */
    color: #1b283a;
    text-shadow: 2px 4px 5px #f9f9f9;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax img#gate-left{
    transform: translateX(-282px);
}

.parallax img#gate-right{
    transform: translateX(305px);
}

.sec{
    position: relative;
    background: #020912;
    padding: 30px 100px;
}

.sec h2{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: white;
    text-align: justify;
}








































